:root {
  --color-brand: #00deaf;
  --color-brand-dark: #00675a;
  --color-brand-dark-lightened: #2c8a7e;
  --color-brand-dark-semi-lightened: #25796e;
  --color-brand-light: #d1fff5;
  --color-brand-lightest: #e6ffff;

  --color-grey: #a8a6af;
  --color-grey-dark: #63666a;
  --color-grey-medium: #d9d8e3;
  --color-grey-light: #efefef;

  --color-link: #4484c2;

  --color-code-light: #f8f6f5;
  --color-code: #f5f2f0;
  --color-code-dark: #eeebe9;
  --color-code-dark-darker-mid: #eae7e6;
  --color-code-darker: #e6e3e2;
  --color-code-darker-darkest-mid: #e3e0de;
  --color-code-darkest: #dfdcda;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/alegreyasans-regular.woff') format('woff');
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/alegreyasans-italic.woff') format('woff');
  font-display: fallback;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/alegreyasans-bold.woff') format('woff');
  font-display: fallback;
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-family: "Alegreya Sans", "Trebuchet MS", Arial, sans-serif;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}


[hidden] {
  display: none !important;
  visibility: hidden !important;
}

a,
a:visited {
  color: var(--color-link);
  text-decoration-skip-ink: all;
  text-decoration-thickness: .1em;
  text-underline-offset: .2em;
}

header {
  display: grid;
  grid-template-columns: calc(var(--space) * 6) 1fr calc(var(--space) * 6);
  gap: var(--space-1-2);
  align-items: center;
  padding: var(--space-1-2);
  background-color: var(--color-brand);
}

header a {
  display: block;
}

header a:last-child,
header a:visited:last-child {
  justify-self: end;
  color: #000;
  font-weight: bold;
}

header img {
  display: block;
  width: 100%;
}

header h1 {
  margin: 0 0 var(--space-1-8);
}

header p {
  margin: 0;
  max-width: 42em;
  line-height: 1.3;
}

.playlist {
  display: grid;
  grid-template-columns: 1fr calc(var(--space) * 10);
  grid-template-areas: "video nav";
  gap: var(--space-3-4);
  padding: 0 var(--space-1-2);
  background-color: var(--color-brand-dark-lightened);
  background-image: linear-gradient(to right, var(--color-brand-dark-lightened) 0%, var(--color-brand-dark-lightened) calc(100vw - (var(--space) * 10) - var(--space-3-4)), var(--color-brand-dark-semi-lightened) calc(100vw - (var(--space) * 10) - var(--space-3-4)));
  color: var(--color-brand-lightest);
}

nav {
  grid-area: nav;
}

section {
  grid-area: video;
}

article {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: var(--space-1-2);
  padding: var(--space-1-2) 0 var(--space-1-4) 0;
  border-bottom: 0.2em solid var(--color-brand-dark-semi-lightened);
}

h2 {
  margin: 0;
}

video {
  display: block;
  aspect-ratio: 16 / 9;
  width: 100%;
  margin-bottom: var(--space-1-4);
}

.playlist ol {
  margin: 0;
  padding: var(--space-1-2) 0;
  list-style-type: none;
  counter-reset: vid-no;
}

.playlist ol li {
  counter-increment: vid-no;
  margin-bottom: var(--space-1-4);
}

.playlist nav a,
.playlist nav a:visited {
  display: flex;
  color: var(--color-brand-lightest);
  border-radius: var(--space-1-8);
  text-decoration: none;
}

.playlist nav a span,
.playlist nav a:visited span {
  text-decoration: underline;
  text-decoration-skip-ink: all;
  text-decoration-thickness: .1em;
  text-underline-offset: .2em;
}

.playlist nav a::before {
  content: counter(vid-no);
  height: var(--space);
  width: var(--space);
  margin-right: var(--space-1-8);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brand-dark);
  border-radius: 50%;
  font-size: var(--size-mega);
  font-weight: bold;
  color: var(--color-brand);
}

.playlist nav a[aria-selected] {
  background-color: var(--color-brand-dark);
}

.all-playlists {
  background-color: var(--color-brand-dark-lightened);
  padding: var(--space-1-2);
}

.all-playlists ul {
  display: grid;
  grid-template-columns: minmax(10em, 20em);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.all-playlists a,
.all-playlists a:visited {
  display: flex;
  flex-direction: column;
  padding: var(--space-1-2);
  background-color: var(--color-brand);
  border-radius: var(--space-1-8);
  line-height: 1.4;
  color: #000;
}

.all-playlists a:hover {
  background-color: var(--color-brand-light);
}

.all-playlists a strong {
  font-size: var(--size-giga);
}

.all-playlists a span {
  font-size: var(--size-milli);
}

.all-playlists a svg {
  width: 6em;
  height: 5em;
  /* align-self: center; */
  margin-bottom: var(--space-1-8);
}

footer {
  background-color: var(--color-brand-dark);
  color: var(--color-brand-lightest);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-1-2);
  padding: var(--space-1-2);
  font-size: var(--size-nano);
  line-height: 1.3;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer small,
address {
  font-style: normal;
  font-size: inherit;
}

footer a ,
footer a:visited {
  color: var(--color-brand);
}

footer p {
  margin: 0;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer ul li {
  margin-bottom: var(--space-1-8);
}

footer ul a {
  display: inline-flex;
  gap: var(--space-1-8)
}

footer ul a svg {
  display: block;
  height: 100%;
  width: 100%;
}

footer ul i {
  height: var(--space-1-2);
  width: var(--space-1-2);
}

footer div:last-child {
  text-align: end;
  justify-content: space-between;
}

.embedded header,
.embedded footer
 {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.embedded .playlist,
.embedded article,
.embedded video {
  display: block;
  position: relative;
  background: none;
  background-color: #222;
  margin: 0;
  padding: 0;
  border: 0;
}

.embedded video {
  width: 100vw;
  height: 100vh;
}

.embedded h2 {
  padding: .3em .5em;
  position: absolute;
  left: .5em;
  top: .5em;
  z-index: 1000;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  border-radius: var(--space-1-8);
  text-shadow: .1em .1em .5em rgba(0, 0, 0, .5);
  transition: all 180ms linear;
}

.embedded nav {
  position: fixed;
  right: 0;
  width: 15rem;
  top: 0;
  bottom: 2.5rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) 80%, rgba(0, 0, 0, 0));
  border-radius: 0 0 0 var(--space-1-8);
  transition: all 180ms linear;
  z-index: 1001;
  overflow-y: auto;
  padding: 0.5em;
  font-size: var(--size-micro);
}

.embedded nav a,
.embedded nav a:visited {
  color: #fff;
}

.embedded nav a::before {
  background-color: #222;
  color: #e2e2e2;
}

.embedded nav a[aria-selected] {
  background-color: #222;
}
